.party-image {
    width: 100%;
    max-width: 60rem;
    height: auto;
    border:1px solid #000;
    background: darkgrey;
    display: block;
    margin: 0 auto;
    margin-top: 1rem;
}

h1 {
    text-align: center;
    text-shadow: 3px 3px 5px grey;
}

.content {
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.campaign-description {
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

@media screen and (max-width: 1280px) {
    .content {
        display:grid;
        grid-template-columns: 1fr;
    }
}