.tiamat-image {
    width: 100%;
    max-width: 60rem;
    height: auto;
}

h1 {
    text-align: center;
    text-shadow: 3px 3px 5px grey;
}

.content {
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
}

.campaign-description {
    padding-right: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

@media screen and (max-width: 1280px) {

    .content {
        display:grid;
        grid-template-columns: 1fr;
    }
    .campaign-description {
        padding-left: 1rem;
    }
    
}