.kill-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
}

@media screen and (max-width: 1280px) {
    .kill-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 0;
    }
}